<!--* Angular Material DataTable -->

<div class="container mt-2 mb-2">
    <div class="mb-2 filter-div">
        <mat-form-field appearance="legacy">
            <mat-label>Search records</mat-label>
            <input matInput placeholder="press initial characters to search"
             name="seachField" id="seachField" (keyup)="applyFilter($event)"/>
        </mat-form-field>
           
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Head Account Code Column -->
            <ng-container matColumnDef="headaccountcode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Head Account Code</b> </th>
                <td mat-cell ng-attr-id="{{ element.headaccountcode }}" *matCellDef="let element"> {{element.headaccountcode}} </td>
            </ng-container>

            <!-- OUC Account Code Column -->
            <ng-container matColumnDef="ouccode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>OUC Account Code</b> </th>
                <td mat-cell *matCellDef="let element"> {{element.ouccode}} </td>
            </ng-container>

            <!-- Email Address Column -->
            <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Email Address</b> </th>
                <td mat-cell *matCellDef="let element" >  
                    <span id="{{ 'EMAIL_'+element.headaccountcode+element.ouccode }}">{{element.emailAddress}}</span>
                    <mat-form-field class="mat-form-field-email" appearance="legacy" hidden
                     id="{{ 'FIELD_'+element.headaccountcode+element.ouccode }}">
                        <mat-label>Update email address</mat-label>
                        <input matInput
                         value="{{ element.emailAddress }}"
                         id="{{ 'SEARCH_'+element.headaccountcode+element.ouccode }}"/>
                    </mat-form-field>                              

                </td>
            </ng-container>


            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Action</b> </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mr-4 edit-icon" [hidden]="hiddenEdit" 
                        id="{{ 'EDIT_'+ element.headaccountcode }}"
                        (click)="editAction(element, $event)">
                        <mat-icon id="{{ 'EDIT_'+ element.headaccountcode }}" aria-hidden="false" title="Edit">edit</mat-icon>
                    </span>
                    <span class="mr-4 check-icon" [hidden]="hiddenUpdate"
                        id="{{ 'CHECK_'+ element.headaccountcode }}"
                         (click)="updateAction(element, $event)">
                        <mat-icon title="Update">check_circle</mat-icon>
                    </span>
                    <span class="delete-icon mr-4" [hidden]="hiddenDelete"
                          id="{{ 'DELETE_'+ element.headaccountcode }}"
                          (click)="deleteAction(element, $event)">
                        <mat-icon aria-hidden="false" title="Delete">delete_forever</mat-icon>
                    </span>
                    <span class="close-icon" [hidden]="hiddenClose"
                         id="{{ 'CLOSE_'+ element.headaccountcode }}"
                         (click)="closeAction(element,$event)">
                        <mat-icon aria-hidden="false" title="Close">close</mat-icon>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>


<!-- 
* Table View - Bootstrap
    <table class="table table-bordered table-striped dataTable mt-2">
    <thead class="table-head">
        <tr>
            <th scope="col">Head Account Number</th>
            <th scope="col">OUC Account Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="table_body">
        <tr *ngFor="let customer of customers">
            <td>{{ customer.headaccountcode }}</td>
            <td>{{ customer.ouccode }}</td>
            <td>{{ customer.emailAddress }}</td>
            <td></td>
        </tr>
    </tbody>
</table> -->